@model Factory.Models.Engineer

<h4>Add a new Engineer</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, new{ required = "required" })
    @Html.TextBoxFor(model => model.Name, new{ required = "required" })

    @Html.LabelFor(model => model.LicenseDate)
    @Html.TextBoxFor(model => model.LicenseDate, "{0:yyyy-MM-dd}", new { @placeholder = "YYYY-MM-DD" })

    @Html.LabelFor(model => model.Repairs, new{ required = "required" })
    @Html.CheckBoxFor(model => model.Repairs, new{ required = "required" })

    @Html.Label("Select machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Add new engineer" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all engineers", "Index")</p>