@model Factory.Models.Engineer

<h2>Edit an Engineer</h2>

<h4>Editing: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <p>@Html.LabelFor(model => model.LicenseDate)
    @Html.TextBoxFor(model => model.LicenseDate, "{0:yyyy-MM-dd}", new { @placeholder = "YYYY-MM-DD" })</p>

    <p>@Html.LabelFor(model => model.Repairs)
    @Html.CheckBoxFor(model => model.Repairs)</p>

    <p>@Html.Label("Select machine")
    @Html.DropDownList("MachineId")</p>

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>